[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Memory captures
MemoryCaptures/

# Asset meta data should only be ignored when the asset itself is ignored
!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta
!/[Pp]rojectSettings/**/*.asset

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db